.containerOffer {
    max-width: 1100px;
    margin: 0 auto;
    padding-left: 20px;
}

.containerOffer .grid {
    margin-top: 50px;
    position: relative;
    text-align: left;
    margin-top: 10px;
}

.containerOffer .titre {
    margin-top: 80px;
    margin-bottom: 20px;
    color: rgb(68 72 189);
    font-weight: 600;
    text-align: left;
    font-size: 32px;
}

.containerOffer .Price {
    font-size: 13px;
}

.containerOffer .container {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        text-align: center;
}

.containerOffer .chooseDoc {
    display: none;
}

.containerOffer .upload {
    text-align: center;
}

.containerOffer .upload button.MuiButton-containedPrimary {
    margin-right: 10px;
    background-image: linear-gradient(45deg, rgb(68 72 189), rgb(81 36 204));
}

.containerOffer .submit {
    margin: 0 auto;
    margin-bottom: 40px;
}

.containerOffer .submit button {
    background-image: linear-gradient(45deg, rgb(68 72 189), rgb(81 36 204));
}

.containerOffer .container {
    display:grid ;
}
