.grid {
    margin-top: 50px;
    position: relative;
    padding-left: 30px;
    text-align: center;
}

.submit {
    position: flex;
    align-items: center;
    margin-left: 70%;
    border: "1px solid transparent";
    /*background-color: rgb(142, 0, 12,0.8)*/
}

.titre {
    color: midnightblue;
    font-weight: bold;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
}

.Price {
    font-size: 13px;
}

.container {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        text-align: center;
}

.chooseDoc {
        background-color: #3d4bc5;
        font-size: 16px;
        font-weight: bold;
        color: #fff;
}
 
/*.chooseDoc {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
}

/*.logo-crea {
    position: absolute;
    width: 300px;
    height: 400px;
    margin-top: 100px;
    margin-left: 1200px;
}*/