.holdingContainer {
    width: 100%;
    display: flex;
    margin-left: 45px;
    padding:3%;
    justify-content: center;

    box-sizing: border-box;
    border: black 2px;
}

.leftDisplay {
    flex: 1;
}

.centerDisplay {
    flex: 1;
}

.rightNFT {
    flex: 1;
}

@media screen and (max-width: 1000px) {
    .holdingContainer {
        flex-direction: column;
    }
}



