.cgv {
    text-align: center;
    color: midnightblue;
}

.text-CGV {
    text-align: center;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
}

.h2 {
    color: black;
}

.h4 {
    color: black;
}