.logo {
    position: absolute;
    height: auto;
    left: 24px;
    width: 160px;
    float: left;
}

.grp-btn {
    position: absolute;
    right: 340px;
    height: 25px;
}

.grp-btn button {
    color: #fff;
    border-right: 1px solid rgba(255, 255, 255, 0.3);
    text-transform: none;
    font-weight: 500;
    font-size: 16px;
}

.grp-btn button:last-child {
    border: none;
}

.MuiAppBar-colorPrimary {
    background: linear-gradient(45deg, rgb(68 72 189), rgb(81 36 204))
}

@media screen and (max-width: 500px) {
    
    .list {
        flex-direction: column;
        height: 200px;
    }

    .items:nth-child(1)  {
        border-top: 1px solid #fff;
        margin-top: 50px;
    }

    .items {
        height: 50px;
        width: 100%;
        border-bottom: 1px solid #fff;
        line-height: 50px;
    }

    .btn {
        display: block;
        position: absolute;
        right: 10px;
        top: 10px;
        color: #333;
        cursor: pointer;
    }
}