.App {
  min-height: 100vh;
  position: relative;
  text-align: center;
  padding-bottom: 92px;
}

html{
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  min-height: 100%;
}
