.copyright {
    bottom: 0;
    position:absolute;
    color: aliceblue;
    font-family: Poppins,Arial,sans-serif;
    text-align: center;
    font-size: 14px;
    width: 100%;
    padding-top: 2px;
    background: linear-gradient(45deg, rgb(68 72 189), rgb(81 36 204))
}
