.copyright {
    height: 18px;
    position:absolute;
    color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    bottom: -16px;
    width: 100%;
    padding-top: 2px;
    background: linear-gradient(45deg, rgb(93, 91, 199), rgb(55, 55, 201));
}

