/*.titleProfil {
    text-align: center;
}

.btn-with {
    width: auto;
    text-align: center;
    margin-left: 500px;
    color: white;
    background-color: midnightblue;
}

.title-NFT {
    text-align: center;
}

.historique {
    text-align: center;
}*/